/* custom fronts */
@font-face {
  font-family: "lovelo-line-bold";
  src: url("./fonts/Lovelo-LineBold.ttf");
}
@font-face {
  font-family: "lovelo-line-light";
  src: url("./fonts/Lovelo-LineLight.ttf");
}
@font-face {
  font-family: "lovelo-line-black";
  src: url("./fonts/Lovelo-Black.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  color: white;
  font-family: "lovelo-line-black";
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.logo > img {
  width: 20%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
nav > ul {
  background-color: #14213d;
  width: 60%;
  margin: 0 auto;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
}
nav > ul > li {
  list-style: none;
  text-align: center;
  padding: 1rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: #cb6ce6;
  cursor: pointer;
  font-family: "lovelo-line-light";
  letter-spacing: 1px;
}
nav > ul > li > a:hover {
  font-family: "lovelo-line-bold";
}

@media (min-width: 1440px) {
  body {
    font-size: 1.5rem;
  }
  .logo > img {
    margin: -1rem auto;
    width: 10%;
  }
  nav > ul {
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav > ul > li > a {
    font-family: "lovelo-line-light";
  }
  nav > ul > li > a:hover {
    font-family: "lovelo-line-bold";
    border-left: 1px solid;
    padding: 0 10px;
    letter-spacing: 2px;
  }
}
