h1 {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}
main {
  font-weight: 100;
  font-size: 20px;
  color: black;
  text-align: center;
}
article {
  display: block;
  width: 700px;
  padding: 50px;
  margin: 0 auto;
}
a {
  color: #f7a76c;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
main > button {
  width: 9rem;
  padding: 0.5rem;
  border: none;
  background-color: rgb(156, 41, 41);
  border-radius: 0.99rem;
  margin-top: 2rem;
}

main > button > a {
  color: #f7a76c;
  text-decoration: none;
}
main > button:hover {
  background-color: rgb(148, 37, 37);
}

main > button > a:hover {
  color: #ed6f15;
}
