/*  color 1: #F7A76C */
/* color 2: rgb(156, 41, 41) */
/* navbar for mobile devices */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.website-logo {
  width: 130px;
}
nav > div > ul {
  width: 80%;
  height: 50%;
  border-radius: 0.99rem;
  margin: 1rem auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0;
}
nav > div > ul > li {
  list-style: none;
  width: 80%;
  margin: 1.5rem auto;
  border-bottom: 1px solid rgb(195, 195, 195);
  padding: 2%;
}
nav > div > ul > li > a {
  text-decoration: none;
  color: black;
}
nav > div > ul > li > a > span > svg {
  width: 15px;
}
nav > ul > li > a:hover {
  color: #f7a76c;
}
.booking-section {
  height: 40rem;
  position: relative;
}
.background {
  background-color: rgb(156, 41, 41);
  width: 100%;
  height: 40%;
}
.booking {
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 15%;
  left: 10%;
  border-radius: 0.99rem;
  background-color: white;
}
.booking h1 {
  padding: 2rem;
  text-align: center;
  font-size: 120%;
  line-height: 1.8em;
  font-weight: 900;
}
form {
  width: 95%;
  margin: 0 auto;
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-checkbox > input {
  margin-left: 5px;
  accent-color: rgb(156, 41, 41);
}
form > button {
  border: none;
  padding: 0.5rem;
  width: 50%;
  border-radius: 0.99rem;
  background-color: rgb(156, 41, 41);
  color: #f7a76c;
  letter-spacing: 1px;
}
form > button:hover {
  color: #ed6f15;
  background-color: rgb(148, 37, 37);
}
input:focus {
  border: 1px solid rgb(156, 41, 41) !important;
  outline: none;
  box-shadow: 0 0 10px rgb(156, 41, 41) !important;
}
