main {
  width: 90%;
  margin: 2rem auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 47rem;
  padding: 4rem 2rem 5rem 2rem;
  position: relative;
  border-radius: 0.99rem;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.logo-container > img {
  width: 3rem;
}
.login-form {
  height: 100%;
}
.login-form > h1 {
  text-align: center;
  font-size: 130%;
  margin: 1rem 0;
  font-weight: 600;
}
.form-control:hover {
  border: 1px solid rgb(156, 41, 41) !important;
  outline: none;
  box-shadow: 0 0 10px rgb(156, 41, 41) !important;
}
a {
  text-decoration: none;
}
a:hover {
  color: #f7a76c;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 60%; */
}
form > button {
  border: none;
  padding: 0.4rem;
  width: 6rem;
  border-radius: 0.99rem;
  background-color: rgb(156, 41, 41);
  color: #f7a76c;
  letter-spacing: 1px;
  font-weight: 900;
}
form > button:hover {
  color: #ed6f15;
  background-color: rgb(148, 37, 37);
}
.rule {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  color: rgb(195, 195, 195);
  height: 10%;
}
.line {
  width: 4rem;
  border: 1px solid rgb(195, 195, 195);
  margin: 0 0.5rem;
}
.alternative-login-section {
  display: flex;
  align-items: center;
  height: 30%;
  margin-top: 1rem;
  flex-direction: column;
}
.alternative-login-section > button {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.99rem;
  padding: 0.5rem;
  width: 15rem;
  background-color: white;
  margin: 0.5rem 0;
}
.alternative-login-section > button > img {
  width: 8%;
}
