main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 25vh;
}
h1 {
  margin: 2rem 0;
  font-family: "lovelo-line-bold";
  color: #cb6ce6;
  font-size: 3rem;
  text-align: center;
  border-left: 4px double;
  padding-left: 1rem;
}
.form-section {
  height: 55rem;
  background-color: #14213d;
  border-radius: 1rem;
  text-align: center;
  letter-spacing: 1.5px;
}
form {
  width: 60rem;
  background-color: #14213d;
  border-radius: 1rem;
  height: 50rem;
}
form > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
form li {
  list-style: none;
}
li label {
  letter-spacing: 4px;
}
h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 1.5px;
}
li {
  margin: 1rem;
}
li input {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-family: "lovelo-line-black";
  margin-left: 1rem;
}
button {
  border: none;
  padding: 1rem 4rem;
  font-family: lovelo-line-light;
  border-radius: 1rem;
  color: #cb6ce6;
  cursor: pointer;
  background-color: #000;
  margin-top: 2rem;
  letter-spacing: 2px;
}
button:hover {
  font-family: lovelo-line-bold;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
